@font-face {
	font-family: TitilliumWeb-Bold;
	src: url(fonts/TitilliumWeb-Bold.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: TitilliumWeb-light;
	src: url(fonts/TitilliumWeb-light.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: TitilliumWeb-Regular;
	src: url(fonts/TitilliumWeb-Regular.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: TitilliumWeb-SemiBold;
	src: url(fonts/TitilliumWeb-SemiBold.ttf);
	font-weight: normal; 
	font-style: normal;
}
@font-face {
	font-family: TitilliumWeb-Italic;
	src: url(fonts/TitilliumWeb-Italic.ttf);
	font-weight: normal; 
	font-style: normal;
}
body {
	min-height: 6160px;
	width: 100%;
	margin: auto;
	line-height: 1.4;
}
.welcome {
	min-height: 595px;
	width: auto;
	background: #87509c;
	position: relative;
}
.logo {
    position: absolute; top: 57.6px; left: 212px;
}

.welcome ul{
	position: absolute;
	list-style: none;
	font-family: Arial Narrow, sans-serif;
	font-size: 17px;
	position: absolute;
	margin-top: 60px;
	margin-right: 190px;
	right: 0;
}
.welcome li {
	float: left;
	text-align: center;
	height: 32px;
	width: 77px;
	margin-left: 15px;
}
.welcome li a {
	text-decoration: none;
	display: inline-block;
	color: white;
	vertical-align: middle;
	text-align: center;
}
.welcome li :hover{
	background: #643a79;
	height: 32px;
	width: 77px;
	border-radius: 3px;
}
.text {
	text-align: center;
	padding: 180px;
}
.text p {
	font-size: 40px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	display: block;
	color: white;
}
.big-button {
	height: 70px;
	width: 295px;
	text-align: center;
	background: #eb7d4b;
	border-style: none;
	border-radius: 5px;
	border-bottom: solid 4px #c86a40;
	cursor: pointer;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
}
.big-button span {
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	font-family: TitilliumWeb-SemiBold, sans-serif;
	color: white;
}
.services {
    background: #17c2a4;
	min-height: 745px;
	margin: auto;
	padding: 0;
}
.zagolovok-white {
	color: white;
	font-size: 40px;
	font-family: TitilliumWeb-Bold, Arial Narrow, sans-serif;
	display: block;
	text-align: center;
	margin: 0;
	padding-top: 110px;
	letter-spacing: 6px;
}
.zagolovok-black {
	color: #393939;
	font-size: 40px;
	font-family: TitilliumWeb-Bold, Arial Narrow, sans-serif;
	display: block;
	text-align: center;
	margin: 0;
	padding-top: 110px;
	letter-spacing: 6px;
}
.line {
	text-align: center;
	margin: 0;
}
.we {
	color: #fff;
	text-align: center;
	font-size: 1.2em;
	font-family: TitilliumWeb-Regular, Arial Narrow, sans-serif;
	font-weight: 300;
	margin: 15px 0px 0px 0px;
}
.we2 {
	color: #393939;
	text-align: center;
	font-size: 1.2em;
	font-family: TitilliumWeb-Regular, Arial Narrow, sans-serif;
	font-weight: bold;
	margin: 15px 0px 0px 0px;
}
.services-conteiner {
    margin: auto;
    text-align: center;
    padding-top: 80px;
} 
.services_block {
	display: inline-block;
	color: white;
	text-align: center;
	font-size: 1.1em;
	font-family: TitilliumWeb-light, Arial Narrow, sans-serif;
	font-weight: 200; 
	padding: 0 45px;
}
.serv {
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: TitilliumWeb-Bold, Arial Narrow, sans-serif;
	margin-top: 40px;
	margin-bottom: 0px;
}
.team {
	min-height: 914px;
	background: #e7f1f8;
	margin: auto;
	padding: 0;
}
.MEET_OUR_BEAUTIFUL_TEAM {
	color: #3c4761;
	font-size: 37px;
	font-family: TitilliumWeb-Bold, Arial Narrow, sans-serif;
	display: block;
	text-align: center;
	margin: 0;
	padding-top: 110px;
	letter-spacing: 8px;
}
.team-container {
	margin: auto;
    text-align: center;
    padding-top: 70px;
}
.team_block {
	display: inline-block;
	color: #3c4761;
	text-align: center;
	font-size: 1.1em;
	font-family: TitilliumWeb-light, Arial Narrow, sans-serif;
	font-weight: 600;
	padding: 8px 40px 0 40px;
	padding-bottom: 5px;
}
.foto {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transform: scale(1);
    transition: 1s;
}
.foto:hover {
	transform: scale(1.5);
}
.vacancy {
	color: #30bae7;
	font-weight: 600;
	margin-top: 8px;
}
.contact {
	width: 32px;
	height: 32px;
	border: 0px double white;
    display: inline-block;
    background: #bdd1df;
    border-radius: 100px;
}
.contact img {
    margin-bottom: -3.8px;
}
.skills {
	min-height: 655px;
	background: #ffff;
}
.skills-container {
	margin: auto;
    text-align: center;
    padding-top: 70px;
}
.block-procent {
	display: inline-block;
	text-align: center;
	padding: 0 40px;
}
.procent90, .procent75, .procent70, .procent85 {
	font-family: TitilliumWeb-light;
	font-size: 50px;
	padding: 32px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
}
.procent90 {
    border-color:#f00 #0f0 #00f #000;
    border-style: solid;
    border-width: 13px;
}

.procent70 {
    border: 13px solid #15c7a8;
}
.procent85 {
    border: 13px solid #eb7d4b;
}
.procent90 span, .procent75 span, .procent70 span, .procent85 span {
	font-size: 35px;
}
.number {
    font-family: TitilliumWeb-light;
    font-size: 10px;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.block-procent1 tspan, .block-procent tspan {
	font-size: 7px;
}
.description {
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: TitilliumWeb-Bold, Arial Narrow, sans-serif;
	padding: 0 0 0 0;
	margin: 0;
}
.portfolio {
	background: #ffdd99;
	min-height: 1423px;
}
.link-portfolio {
    text-decoration: none;
    font-size: 18px;
    font-family: TitilliumWeb-Regular, sans-serif;
    font-weight: bold;
    color: #393939;
    border: 0px solid red;
    border-radius: 5px;
    background: #ebc985;
    padding: 6px 23px;
    margin-left: 10px;
}
.link-portfolio:hover {
    background: #ffff;
}
.link-block {
	text-align: center;
	margin: 0;
	margin-top: 50px;
}
.figure-block {
    margin: auto;
    margin-top: 70px;
    text-align: center;
}
.figure-blockbottom {
	margin: auto;
    text-align: center;
}
.figure {
	display: inline-block;
	padding: 0 10px ;
	margin-bottom: 60px;
}
.figure p {
	text-align: center;
	font-family: TitilliumWeb-Regular, sans-serif;
	font-weight: bold;
	margin: 0;
	padding-top: 17px;
}
.portfolio button {
	height: 70px;
	width: 295px;
	background: #17c2a4;
	border-style: none;
	border-radius: 5px;
	color: white;
	font-family: TitilliumWeb-SemiBold, sans-serif;
	font-size: 18px;
	font-weight: 500;
	border-bottom: solid 4px #14a58c;
	cursor: pointer;
	letter-spacing: 1px;
	position: relative;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 50px;
}
.testimonials {
	min-height: 894px;
	background-color: #d74680;
}
.recommendations-block {
    text-align: center;
}
.recommendations-blockbottom {
    text-align: center;
}
.recommendations {
	display: inline-block;
    width: 510px;
    height: 155px;
    text-align: left;
    padding: 80px 45px;
}
.recommendations img {
	display: block;
	height: 96px;
	width: 96px;
	border-radius: 100%;
	float: left;
	margin: 0px 48px 100px 0px;
}
.recommendations-description {
	white-space: nowrap;
	margin: 0;
	color: #fff;
	margin-bottom: 15px;
	font-size: 21px;
	font-family: TitilliumWeb-Italic, sans-serif;
    letter-spacing: 1px;
}
.recommendations-name {
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: TitilliumWeb-Bold, Arial Narrow, sans-serif;
    white-space: nowrap;
    color: #fff;
    margin: 0;
}
.recommendations-profession {
    white-space: nowrap;
    color: #ffdd99;
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 0;
}
.form-block {
	min-height: 818px;
	background-color: #3c5499;
}
.form {
	text-align: center;
	padding: 0;
	margin: 0;
}
.text_form {
    height: 56px; 
    width: 414px;
    border: none;
    border-radius: 5px;
    background: #273a71;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 76px;
    color: white;
	font-size: 20px;

}
.textarea {
	height: 200px; 
    width: 860px;
    border: none;
    border-radius: 5px;
    background: #273a71;
    margin-top: 27px;
    color: white;
	font-size: 20px;
}
.formbutton {
    height: 70px;
	width: 295px;
	background: #30bae7;
	border-style: none;
	border-radius: 5px;
	color: white;
	font-family: TitilliumWeb-SemiBold, sans-serif;
	font-size: 18px;
	font-weight: 500;
	border-bottom: solid 4px #299ec5;
	cursor: pointer;
	letter-spacing: 1px;
	padding: 0;
}
input::-moz-placeholder { 
	color: #fff; padding-left: 25px; font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 18px;
}
input::-webkit-input-placeholder { 
	color: #fff; padding-left: 25px; font-family: TitilliumWeb-Regular, sans-serif;
	font-size: 18px;
}
textarea:-moz-placeholder { 
	color: #fff; padding: 25px 0 0 25px; font-family: TitilliumWeb-Regular, sans-serif;
	font-size: 18px;
}
textarea::-webkit-input-placeholder { 
	color: #fff; padding: 25px 0 0 25px; font-family: TitilliumWeb-Regular, sans-serif;
	font-size: 18px;
}
.formbutton-block {
	margin: 0;
	text-align: center;
	margin-top: 55px;
}
.gradient {
	height: 1px;
	background: repeating-linear-gradient(to right, rgba( 60, 84, 153, 0.9) 0px, 
    rgba( 60, 84, 153, 0.9) 8px, rgba( 60, 84, 153, 0.8) 8px, rgba( 60, 84, 153, 0.8) 16px);
    
}
.social-media {
    height: 112px;
    background: #344b8e;
}
.social-media ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-left: 250px;
    margin-top: 37px;
}
.social-media li {
	float: left;
}
.social-media a {
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	margin-right: 55px;
	font-family: TitilliumWeb-SemiBold, sans-serif;
}
.social-media a:hover {
	color: #30bae7;
}
#toTop {
    width: 50px;
    height: 50px;
    background: rgba(216, 72, 72, 0.5);
    border-radius: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}






